# 这个文件列出了本项目的主要维护者，以及所负责的模块。
#
# 注释格式: 加入工作室年份-维护者姓名 <电子邮件地址> (维护者用户名)
# 文本格式: 模块路径 @维护者用户名1 @维护者用户名2 ...

## Root
# 2023-李梓玄 <2064166368@qq.com> (@jiuxia211)
# 2022-林黄骁 <ozlinex@outlook.com> (@ozline)

* @west2-online/fzuhelper @jiuxia211 @ozline


## CI
# 2024-朱胤帆 <1424928981@qq.com> (@SchwarzSail)

/.github @SchwarzSail


## pkg
# 2024-马奔 <mutezebra@qq.com> (@mutezebra)
# 2022-林黄骁 <ozlinex@outlook.com> (@ozline)

/pkg @mutezebra @ozline


# ======== 以下为各模块的负责人 ========

## cmd/academic
# 2023-李梓玄 <2064166368@qq.com> (@jiuxia211)

/cmd/academic @jiuxia211


## cmd/course
# 2024-任宝硕 <i@baoshuo.ren> (@renbaoshuo)

/cmd/course @renbaoshuo


## cmd/classroom
# 2024-朱胤帆 <1424928981@qq.com> (@SchwarzSail)

/cmd/classroom @SchwarzSail


## cmd/launch_screen
# 2024-肖垲 <1845983502@qq.com> (@FantasyRL)

/cmd/launch_screen @FantasyRL


## cmd/paper
# 2024-庄仲华 <3092572427@qq.com> (@penqee)

/cmd/paper @penqee


## cmd/user
# 2023-李梓玄 <2064166368@qq.com> (@jiuxia211)

/cmd/user @jiuxia211


## cmd/exam
# 2024-马奔 <mutezebra@qq.com> (@mutezebra)

/cmd/exam @mutezebra
