.container {
    padding:5% 3%;
}

.title {
    text-align: center;
}

.time {
    text-indent: 2em;
}

.des {
    font-weight: bold;
    text-indent: 2em;
}

.section {
    font-weight: bold;
    font-size: 24px;
    padding-left: 32px;
    margin: 5px 0px;
}

.content {
    text-indent: 2em;
}

.content-2 {
    text-indent: 0em;
    padding-left: 2em;
}

.content-3 {
    text-indent: 0em;
    padding-left: 2em;
}

.sdk {
    text-indent: 0em;
    padding-left: 2em;
    margin-bottom: 2em;
}

.bold {
    font-weight: bold;
}