services:
  fzu-helper-redis:
    container_name: fzu-helper-redis
    image: redis
    volumes:
      - ./data/redis:/data
    ports:
      - "6379:6379"
    networks:
      - fzu-helper

  mysql:
    image: mysql:8.0
    container_name: fzu-helper-mysql
    environment:
      MYSQL_ROOT_PASSWORD: fzu-helper
      MYSQL_USER: fzu-helper
      MYSQL_PASSWORD: fzu-helper
    ports:
      - "3306:3306"
    networks:
      - fzu-helper
    volumes:
      - ../config/sql:/docker-entrypoint-initdb.d
      - ./data/mysql:/var/lib/mysql

  etcd:
    container_name: etcd
    image: "quay.io/coreos/etcd:v3.5.5"
    restart: always
    ports:
      - 2379:2379
      - 2380:2380
    environment:
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
      - ETCD_ADVERTISE_CLIENT_URLS=http://0.0.0.0:2379
      - ETCD_API=3
      - ALLOW_NONE_AUTHENTICATION=yes
    volumes:
      - ./script:/script
      - ../config:/config
      - ./data/etcd:/etcd-data
    networks:
      - fzu-helper
    entrypoint: [ "sh", "-c", "chmod +x /script/etcd-monitor.sh && /script/etcd-monitor.sh & exec etcd" ]

#  skywalking-oap:
#    image: apache/skywalking-oap-server:10.0.1
#    container_name: skywalking-oap
#    environment:
#      SW_TELEMETRY: "prometheus"
#      SW_HEALTH_CHECKER: "default"
#      SW_STORAGE: elasticsearch
#      SW_STORAGE_ES_CLUSTER_NODES: "es:9200"  # 如果使用 Elasticsearch
#    ports:
#      - "12800:12800"  # OAP 服务器接口
#      - "11800:11800"  # 接收数据的端口
#    networks:
#      - fzu-helper
#    depends_on:
#      - elasticsearch
#    links:
#      - elasticsearch
#
#
#  skywalking-ui:
#    image: apache/skywalking-ui:10.0.1
#    container_name: skywalking-ui
#    ports:
#      - "8080:8080"
#    networks:
#      - fzu-helper
#    depends_on:
#      - skywalking-oap  # 确保 OAP 服务器在 UI 启动之前运行
#    environment:
#      SW_OAP_ADDRESS: http://skywalking-oap:12800  # 使用指定的 OAP IP
#
#
#  elasticsearch:
#    image: docker.elastic.co/elasticsearch/elasticsearch:7.10.0
#    container_name: es
#    environment:
#      - discovery.type=single-node
#      - ES_JAVA_OPTS=-Xms512m -Xmx512m  # 设置 Java 内存
#    ports:
#      - "9200:9200"
#    networks:
#      - fzu-helper

#  rabbitmq:
#    container_name: fzuhelper-rabiitmq
#    image: "rabbitmq:latest"
#    ports:
#      - 5672:5672
#      - 15672:15672
#    environment:
#      - RABBITMQ_DEFAULT_USER=fzuhelper
#      - RABBITMQ_DEFAULT_PASS=fzuhelper
#    volumes:
#      - ./data/rabbitmq:/var/lib/rabbitmq
#    networks:
#      - fzuhelper
#  etcd-keeper:
#    hostname: fzuhelper-etcdkeeper
#    image: evildecay/etcdkeeper
#    environment:
#      - ETCD_HOSTS=http://etcd:2379
#      - SW_STORAGE_ETCD_CLUSTER_NODES=etcd:2379
#      - HOST=0.0.0.0
#      - HOSTNAME=etcd-keeper
#    links:
#      - etcd
#    ports:
#      - 8099:8080
#    depends_on:
#      - etcd
#    networks:
#      - fzuhelper
#  elasticsearch:
#    image: elasticsearch:8.4.2
#    container_name: fzuhelper-elasticsearch
#    environment:
#      bootstrap.memory_lock: "true"
#      ES_JAVA_OPTS: "-Xms512m -Xmx512m"
#      discovery.type: single-node
#      ingest.geoip.downloader.enabled: "false"
#      TZ: Asia/Shanghai
#      xpack.security.enabled: "false"
#    healthcheck:
#      test: [ "CMD-SHELL", "curl -sf http://elasticsearch:9200/_cluster/health || exit 1" ] # ⼼跳检测，成功之后不再执⾏后⾯的退出
#      interval: 60s # ⼼跳检测间隔周期
#      timeout: 10s
#      retries: 3
#      start_period: 60s # ⾸次检测延迟时间
#    ulimits:
#      memlock:
#        soft: -1
#        hard: -1
#    volumes:
#      - ../config/elasticsearch:/usr/share/elasticsearch/config
#      - ./data/elasticsearch:/usr/share/elasticsearch/data
#    ports:
#      - "9200:9200"
#    restart: always
#    networks:
#      - fzuhelper
#
#    kibana:
#      image: kibana:8.4.2
#      container_name: fzuhelper-kibana
#      environment:
#        - I18N_LOCALE=zh-CN
#        - XPACK_GRAPH_ENABLED=true
#        - TIMELION_ENABLED=true
#        - XPACK_MONITORING_COLLECTION_ENABLED="true"
#        - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
#      depends_on:
#        - elasticsearch
#      ports:
#        - "5601:5601"
#      volumes:
#        - ../config/kibana:/usr/share/kibana/config
#        - ./data/kibana:/usr/share/kibana/data
#      networks:
#        - fzuhelper
#
#    jaeger:
#      container_name: fzuhelper-jaeger
#      image: "jaegertracing/all-in-one:latest"
#      restart: always
#      ports:
#        - 16686:16686
#        - 6831:6831/udp
#      volumes:
#        - ./data/jaeger:/var/lib/jaeger
#        - ../config/jaeger:/etc/jaeger
#      networks:
#        - fzuhelper
#
#    prometheus:
#      image: prom/prometheus
#      container_name: fzuhelper-prometheus
#      hostname: prometheus
#      restart: always
#      volumes:
#        - ../config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
#      ports:
#        - 9090:9090
#      networks:
#        - fzuhelper
#
#    grafana:
#      image: grafana/grafana
#      container_name: fzuhelper-grafana
#      restart: always
#      ports:
#        - 3000:3000
#      volumes:
#        - ../config/grafana:/etc/grafana
#      networks:
#        - fzuhelper
#
#    alertmanager: #预警模块
#      image: prom/alertmanager
#      container_name: fzuhelper-alertmanager
#      restart: always
#      ports:
#        - 9093:9093
#      networks:
#        - fzuhelper
#
#    node-exporter:
#      image: quay.io/prometheus/node-exporter
#      container_name: fzuhelper-node-exporter
#      restart: always
#      ports:
#        - 9100:9100
#      networks:
#        - fzuhelper
#
#    cadvisor:
#      image: google/cadvisor:latest
#      container_name: fzuhelper-cadvisor
#      restart: always
#      platform: linux/amd64
#      volumes:
#        - /:/rootfs:ro
#        - /var/run:/var/run:rw
#        - /sys:/sys:ro
#        - /var/lib/docker/:/var/lib/docker:ro
#      ports:
#        - 8899:8080
#      networks:
#        - fzuhelper
#
#    redis-exporter:
#      image: oliver006/redis_exporter
#      container_name: fzuhelper-redis-exporter
#      restart: always
#      ports:
#        - 9121:9121
#      command:
#        - "--redis.addr=redis://127.0.0.1:6379"
#      networks:
#        - fzuhelper
#
#  mysql_xporter:
#    image: prom/mysqld-exporter
#    container_name: fzuhelper-mysql-exporter
#    restart: always
#    ports:
#      - 9104:9104
#    environment:
#      DATA_SOURCE_NAME: 'exporter:123456@(127.0.0.1:3306)'
#    networks:
#       - fzuhelper
networks:
  fzu-helper:
    driver: bridge
    name: fzu-helper
