etcd-addr: 127.0.0.1:2379


server:
  jwt-secret: MTAxNTkwMTg1Mw==
  version: "1.0"
  name: fzuhelper

snowflake:
  worker-id: 0
  datancenter-id: 0

mysql:
  addr: 127.0.0.1:3306
  database: fzuhelper
  username: fzuhelper
  password: fzuhelper
  charset: utf8mb4

oss:
  endpoint: "jiuxia821.cn"
  accessKey-id: "LTAI5t9ZUqqSFRMVW8uwY8Gm"
  accessKey-secret: "qfqGZvGBSwUAp3u3bvnZR0vjef5Yqw"
  bucketname: "jiuxia-video"
  main-directory: fzuhelper

elasticsearch:
  addr: 127.0.0.1:9200
  host: 127.0.0.1

rabbitmq:
  addr: 127.0.0.1:5672
  username: fzuhelper
  password: fzuhelper

redis:
  addr: 127.0.0.1:6379
  password: fzuhelper

jaeger:
  addr: 127.0.0.1:6831

services:
  template:
    name: template
    load-balance: false
    addr:
      - 127.0.0.1:10001
      
  empty_room:
    name: classroom
    load-balance: false
    addr:
      - 127.0.0.1:10002
