name: Deploy to Cloud Server

on:
  workflow_dispatch:
    inputs:
      service:
        description: "Select the service to deploy"
        required: true
        type: choice
        options:
          - api
          - user
          - classroom
          - course
          - launch_screen
          - paper
          - academic

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Log in to Alibaba Cloud Docker Registry
        env:
          ALIYUN_DOCKER_USER: ${{ secrets.ALIYUN_DOCKER_USER }}
          ALIYUN_DOCKER_PASSWORD: ${{ secrets.ALIYUN_DOCKER_PASSWORD }}
        run: |
          echo "${ALIYUN_DOCKER_PASSWORD}" | docker login --username "${ALIYUN_DOCKER_USER}" registry.cn-hangzhou.aliyuncs.com --password-stdin

      - name: Build and Push Docker Image
        run: |
          bash ./hack/image-build-and-push.sh ${{ github.event.inputs.service }}

      - name: SSH and deploy on server
        env:
          SERVER_SSH_KEY: ${{ secrets.SERVER_SSH_KEY }}
          SERVER_IP: ${{ secrets.SERVER_IP }}
          SERVER_USER: ${{ secrets.SERVER_USER }}
        run: |
          # 配置 SSH
          mkdir -p ~/.ssh
          echo "${SERVER_SSH_KEY}" > ~/.ssh/id_rsa
          chmod 400 ~/.ssh/id_rsa

          # 使用 SSH 连接服务器并执行脚本
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa "${SERVER_USER}@${SERVER_IP}" 'cd ~/hack && bash docker-run.sh ${{ github.event.inputs.service }}'
