name: Deploy to Cloud Server

on:
  workflow_dispatch: # 手动触发
    inputs:
      service:
        description: "Select the service to deploy"
        required: true
        type: choice
        options:
          - api
          - user
          - classroom
          - course
          - launch_screen
          - paper
          - academic
          - version
          - common
          - oa

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the code
        uses: actions/checkout@v6

      - name: Log in to Alibaba Cloud Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ALIYUN_DOCKER_REGISTRY }}
          username: ${{ secrets.ALIYUN_DOCKER_USER }}
          password: ${{ secrets.ALIYUN_DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        run: |
          cd $GITHUB_WORKSPACE && bash ./hack/image-build-and-push.sh ${{ github.event.inputs.service }}

  deploy:
    runs-on: ubuntu-latest
    needs: build  # 确保在 build 作业完成后再执行

    concurrency:
      group: global-deployment-workflow
      cancel-in-progress: false # 后续的 workflow 处于 pending

    steps:
      - name: SSH and deploy on server
        uses: appleboy/ssh-action@v1.2.4
        with:
          port: ${{ secrets.SERVER_PORT }}
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /home/srv/hack
            bash docker-run.sh ${{ github.event.inputs.service }}
